# node/yarn/metro
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.expo/
.expo-shared/
dist/
build/
coverage/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# RN / Android / iOS
android/.gradle/
android/app/build/
android/build/
ios/Pods/
ios/build/
*.keystore
*.jks
*.p12
*.mobileprovision
*.xcuserstate
*.xcworkspace
*.xcuserdata/

# env/secrets
.env
.env.*
*.secret.*
*.local

# caches
*.log
tmp/
.cache/
